name: Update README activity

on:
  schedule:
    - cron: '0 0 1/2 * *'
  workflow_dispatch:

jobs:
  build:
    if: ${{ false }} # Skip without any alert
    runs-on: ubuntu-latest
    name: Update this repo's README with recent activity
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4.2.2
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
