# Based on https://github.com/vn7n24fzkq/github-profile-summary-cards-example/blob/master/.github/workflows/profile-summary-cards.yml
name: Update GitHub profile summary cards

on:
  schedule: # execute every 24 hours
    - cron: 0 10 1/2 * *
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - .github/workflows/update-profile-summary-cards.yml

concurrency:
  # github.event.pull_request.number || github.ref: pull request number or branch name if not a pull request
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CHECK_PERMISSIONS: 0

permissions: {}

jobs:
  generate-profile-summary-cards:
    runs-on: ubuntu-latest
    name: Generate profile summary cards
    permissions:
      contents: write
    steps:
      - id: check-permissions
        name: Check action permissions
        uses: GitHubSecurityLab/actions-permissions/monitor@b25f731bf2f9eb9748c2e9757d366c3e72fa2109 # v1.0.2-beta8
        if: env.CHECK_PERMISSIONS == '1'
      - id: checkout-repo
        name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true # Need for git push
      - id: generate-profile-summary-cards
        name: Generate profile summary cards
        uses: vn7n24fzkq/github-profile-summary-cards@974577f1823715ca047e9976548634816a3a0264 # release
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
          # BRANCH_NAME is optional, default to main, branch name to push cards
          BRANCH_NAME: master
          # UTC_OFFSET is optional, default to zero
          UTC_OFFSET: 8
          # EXCLUDE is an optional comma separated list of languages to exclude, defaults to ""
          EXCLUDE: ""
          # AUTO_PUSH is optional, a boolean variable default to true, whether automatically push generated files to desired branch
          AUTO_PUSH: true
